<p id="notice"><%= notice %></p>
<%= image_tag @service.profile.url(:medium) %>
<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<%= link_to 'BUY NOW', new_service_order_path(@service), data: {no_turbolink: true} %>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
