
<%= image_tag @service.profile.url(:medium) %>
<h3><%= @service.name %></h3>
<h4><%= number_to_currency(@service.price) %></h4>


<%= form_for([@service, @order]) do |f| %>
<% if @order.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

  <ul>
    <% @order.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div id="stripe_error" class="alert alert-danger" style="display:none">
        <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
</div>

      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, id: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :state %>
        <%= f.text_field :state, class: "form-control" %>
      </div>

      <div class="form-group">
          <div>
            <%= label_tag :number, "Credit Card Number" %>
            <%= text_field_tag :number, nil, { :name => nil, id: "cc-number" } %>
          </div>
          <div>
            <%= label_tag :name, "Credit Card Number" %>
            <%= text_field_tag :name, nil, { :name => nil, id: "cc-name" } %>
          </div>
          <div>
            <%= label_tag :cvc, "CVC" %>
            <%= text_field_tag :cvc, nil, { :name => nil, id: "cc-cvc" } %>
          </div>
      </div>

      <div class="form-group">
        <%= label_tag nil, "Expiration Date" %>
          <div class="">
            <%= text_field_tag :expiry_month, nil, { :name => nil, id: "expiry-month" } %>
          </div>
          <div class="">
            <%= text_field_tag :expiry_year, nil, { :name => nil, id: "expiry-year" } %>
          </div>
      </div>

      <div class="form-group">
        <%= f.submit "Complete Order", class: "btn btn-success" %>
      </div>
    <% end %>
