<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => false %>
    <%= javascript_include_tag "https://cdn.pin.net.au/pin.v2.js" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"] %>
  </head>

  <body>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %> 
  <%= link_to('Edit Profile', edit_user_password_path)  %>  
  </li>
<% end %>

   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
